.cookie-consent
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cookie-consent button
{
  background-color: #4CAF50; 
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.chat-app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.chat-room-main, .user-list-main {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-room {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 273px;
  max-height: 273px; /* Adjust the height as needed */
  overflow-y: scroll; /* Add scrollbar for long chat history */
}

.user-list {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 129px;
  max-height: 129px; /* Adjust the height as needed */
  overflow-y: scroll; /* Add scrollbar for long chat history */
}

.chat-window-main {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-window {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  height: 380px;
  max-height: 380px; /* Adjust the height as needed */
  overflow-y: scroll; /* Add scrollbar for long chat history */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-window {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.room-input {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  width: 100%;
}

.room-input label {
  width: 125px;
  display: block;
  margin-right: 5px;
}

.room-input input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.room-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.message-input {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  width: 100%;
}

.message-input label {
  width: 75px;
  display: block;
  margin-right: 5px;
}

.message-input textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.right-aligned-div {
  display: flex;
  justify-content: flex-end;
}

.message-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.joined-user {
  font-weight: bold;
}

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 400px; /* Adjust the width as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  width: 100%;
}

.form-group label {
  width: 55px;
  display: block;
  margin-right: 5px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.join-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  width: 170px;
}

